
#show link: set text(fill: blue, weight: 700)
#show link: underline
//#show table.cell.where(y: 0): set text(weight: "bold")

// code blocks
#let code-border = luma(0)
// #show raw: set text(font: (fonts.mono), fallback: true)
#show raw.where(block: false): set text(weight: "semibold")
#show raw.where(block: true): set text(size: 0.8em)
#show raw.where(block: true): it => {
    block(
        width:100%,
        inset: 10pt,
        radius: 4pt,
        stroke: 0.1pt + code-border,
        it,
    )
}

#set figure(numbering: "1")
#set figure.caption(separator: " - ") // With a nice separator
#set math.equation(numbering: "(1)", supplement: "Eq.")


{% macro render_author(author) %}
  {% if (author is mapping) or (author is defined and author is not none) %}
    (
      name: "{{ author.name | default('') }}",
      affiliation: "{{ author.affiliation | default('') }}",
      email:  "{{ author.email | default('') }}",
    ),
  {% else %}
    (
      name: "{{ author | default('') }}",
      affiliation: "",
      email:  "",
    ),
  {% endif %}
{% endmacro %}

{% macro render_kvtable(mydict, prefix=None) %}
#table(
  columns: (auto, 1fr),
  stroke: none,
{% for key, value in mydict.items() %}
   [*{% if prefix %}{{ prefix }}{{loop.index}}{% else %}{{ key }}{% endif %}:* <{{ key }}>], [{{ value }}],
{% endfor %}
)
{% endmacro %}


#let conf(
  authors: (),
  abstract: [],
  doc,
) = {

  set par(justify: true)

  set page(
    paper: "a4",
    header: align(
      right + horizon,
      context document.title,
    ),
    numbering: "1",
    columns: {{ columns | default(2) }},
  )

  place(
    top + center,
    float: true,
    scope: "parent",
    clearance: 2em,
    {
      
      title()
      
      let count = authors.len()
      let ncols = calc.min(count, 3)
      grid(
        columns: (1fr,) * ncols,
        row-gutter: 24pt,
        ..authors.map(author => [
          #author.name \
          #author.affiliation \
          #link("mailto:" + author.email)
        ]),
      )
      if abstract != none and abstract != [] [

        par(justify: false)[
          *Abstract* \
          #abstract
        ]
      ]
    }
  )

  doc
}

#set document(title: [ {{ title }} ])


#show: conf.with(
    
  {% if authors %}
  authors: (
  {% for author in authors %}
    {{ render_author(dict_author) }}
  {% endfor %}

  {% elif author %}
  authors: (
    {{ render_author(dict_author) }}
  {% endif %}
  ),
  abstract: {{ abstract | default('none') }},
)



{{ body }}
