{% macro nonedefault(val) %}{% if val %} "{{ val }}" {% else %} none{% endif %}{% endmacro %}

{% macro render_kvtable(mydict, prefix=None) %}
table(
  columns: (auto, 1fr),
  stroke: none,
{% for key, value in mydict.items() %}
   [*{% if prefix %}{{ prefix }}{{loop.index}}{% else %}{{ key }}{% endif %}* <{{ key }}>], [{{ value }}],
{% endfor %}
)
{% endmacro %}


#import "@preview/based:0.2.0": base64

// copied and modified from https://github.com/roland-KA/basic-report-typst-template/tree/main
// THANKS!

// ===== Functions for TITLE PAGE and COMPACT TITLE ===============

#let powered_by_link = link("https://pypi.org/project/pydocmaker/")[pydocmaker]


// ===== TITLE PAGE: `titlepage` ====================

#let titlepage(
  doc-category,
  doc-title,
  author,
  logo,
  heading-color,            // heading-color applies as well for the title
  info-size,                // used throughout the document for "info text"
  datetime-fmt,
) = {

  // ----- Page-Setup ------------------------
  set page(
    paper: "a4",
    margin: (top: 2.5cm, left: 2.0cm, right: 2.5cm, bottom: 2.0cm),
  )

  // Some basic rules for the title page layout:
  // - logo is right-justified
  // - all other elements are left-justified
  // - the page uses a grid of 1.5 cm units

  // ----- Logo ------------------------
  place(top + right,        // `place` so that the remaining layout is independent of the size of the logo
    logo,
  )

  v(4cm)                    // = 4 x 1.5 cm

  // ----- Title Category & Title ------------------------
  align(
    left,                   // 1 x 14pt + 2 x 36pt ≈ 2 x 1.5 cm
    text(weight: "regular", size: 14pt, fill: luma(50%),
      doc-category),
  )

  text(weight: "light", size: 36pt,  fill: heading-color,
    doc-title,
  )

{% if subtitle %}
 v(0.3cm)

  text(weight: "regular", size: 18pt, fill: luma(50%),
    [{{ subtitle }}],
  )
{% endif %}

{% if abstract %}
 v(3cm)
  text(weight: "bold", size: 11pt,
    [Abstract: ]
  )
  text(weight: "regular", size: 9pt,
    [{{ abstract }}],
  )
{% endif %}



  // ----- Info Block ------------------------
  set par(leading: 1em)  
  let v = "Version: \"{{ version | default("N/A") }}\" \n"
  let author-prefix = ""
  if author != none {author-prefix = "Author:"}




  let watermark = [This document was generated with ] + powered_by_link
  let a = ""
  if author != none {
    let a = lower(author.trim())
  }
  
  if a == "automatically generated" or a == "pydocmaker" {
    watermark = [This document was generated with ] + powered_by_link
  }


  place(
    bottom + left,
    text(
      weight: "regular", size: info-size, fill: black,
      grid(
        columns: (auto, auto),
        align: (right, left),
        gutter: 2.5em,
        row-gutter: 0.5em,
        [#author-prefix], [#author],
        {% if date %}
        [Date:], [{{ date }}],
        {% elif not hide_date %}
        [Date:], [#datetime.today().display(datetime-fmt)],
        {% endif %}
        {% if titlepage_info_dict %}
        {% for key, value in titlepage_info_dict.items() %}
        [{{ key }}], [{{ value }}],
        {% endfor %}
        {% endif %}
        {% if titlepage_info_dict and not "date" in titlepage_info_dict %}
        {% endif %}
        {% if not hide_pydocmaker %}
        [], [],
        [], [],
        [], [],
        [], [],
        grid.cell(colspan: 2)[#watermark],
        {% endif %}
        // space at the bottom
        [], [],
        [], [],
        [], [],
        [], [],
        [], [],
        [], [],
        [], [],
        [], [],
        [], [],
      )
    )
  )
}


// ----- Main Template Function: `basic-report` ----------------------

#let basic-report(
  doc-category: none,
  doc-title: none,
  author: none,
  logo: none,
  language: "en",
  show-outline: true,
  heading-color: black,
  datetime-fmt: "[year]-[month]-[day]",
  body,
) = {

  // ----- Global Parameters ------------------------

  set document(title: doc-title)
  
  if author != none {
    set document(author: author)
  }

  set text(lang: language)

  let body-size = 11pt

  // heading font is used in this size for kind of "information blocks"
  let info-size = 10pt              
  
  // heading font is used in this size for different sorts of labels            
  let label-size = 9pt                          
  
  // are we inside or outside of the outline (for roman/arabic page numbers)?
  let in-outline = state("in-outline", true)    

  // ----- Title Page ------------------------

  if (doc-title != none and doc-title != "") {
    counter(page).update(0)                     // so TOC after titlepage begins with page no 1 (roman)
    titlepage(
      doc-category,
      doc-title,
      author,
      logo,
      heading-color,
      info-size,
      datetime-fmt,
    )
  } 

  // ----- Basic Text- and Page-Setup ------------------------

  set text(
    size: body-size,
  )

  set par(
    justify: true,
    leading: 0.75em,
    spacing: 1.65em,
    first-line-indent: 0em,
  )


  set page(
    paper: "a4",
    margin: (top: 2.5cm, left: 2.0cm, right: 2.5cm, bottom: 2.0cm),

    {% if header_str_left or header_str_right %}
    header: {
        grid(
            columns: (auto, auto),
            align: (left, right),
            row-gutter: 0.5em,
            text(size: label-size,[{{ header_str_left | default("") }}]),
            text(size: label-size,[{{ header_str_right | default("") }}]),          
            grid.cell(colspan: 2, line(length: 100%, stroke: 0.5pt)),
        )
    },
    header-ascent: 1.5em,
    {% endif %}


    footer: context {
        let total = counter(page).final().at(0)
        grid(
          columns: (auto, 1fr, auto ),
          align: (left, center, right),
          row-gutter: 0.5em,
          grid.cell(colspan: 3, line(length: 100%, stroke: 0.5pt)),
          text(size: label-size,[{{ footer_str_left | default("") }}]),
          
          text(size: label-size, 
            number-type: "lining",
            {if in-outline.get() {
                let current = counter(page).display("i")
                [Page #current]
              } else {
                let current = counter(page).display("1")
                [Page #current of #total]
              }
            }
          ),
          text(size: label-size,[{{ footer_str_right | default("") }}]),
        )   
    }
  )

  

  // ----- Table of Contents ------------------------

    
{% if not hide_toc %}


  if (show-outline) {

    outline(
      title: if language == "de" { 
        "Inhalt"
      } else if language == "fr" {
        "Table des matières"
      } else if language == "es" {
        "Contenido"
      } else if language == "it" {
        "Indice"
      } else if language == "nl" {
        "Inhoud"
      } else if language == "pt" {
        "Índice"
      } else if language == "zh" {
        "目录"
      } else if language == "ja" {
        "目次"
      } else if language == "ru" {
        "Содержание"
      } else if language == "ar" {
        "المحتويات"
      } else {
        auto
      },
      indent: auto,
    )


    outline(
      title: "List of Figures",
      target: figure.where(kind: image),
    )

    // 3. Table of Tables
    outline(
      title: "List of Tables",
      target: figure.where(kind: table),
    )


{% if acronyms %}
heading(level: 1, outlined: false)[List of Acronyms]
{{ render_kvtable(acronyms, prefix=None) }}
{% endif %}


{% if applicables %}
heading(level: 1, outlined: false)[List of Applicable Documents]
{{ render_kvtable(applicables, prefix="AD") }}
{% endif %}

{% if references %}
heading(level: 1, outlined: false)[List of Reference Documents]
{{ render_kvtable(references, prefix="RD") }}
{% endif %}


    
    pagebreak()
    counter(page).update(1)     // so the first chapter starts at page 1 (now in arabic numbers)
    in-outline.update(false)

  } else {
    in-outline.update(false)    // even if outline is not shown, we want to continue with arabic page numbers
    counter(page).update(1)
  }
{% else %}
    in-outline.update(false)    // even if outline is not shown, we want to continue with arabic page numbers
    counter(page).update(1)
{% endif %}

  // ----- Headings & Numbering Schemes ------------------------

  set heading(numbering: "1.")
  show heading: set text(fill: heading-color)
  show heading: set par(justify: false)
  show heading: set block(below: 20em)

  set figure(numbering: "1")
  show figure.caption: it => {
    set text(size: label-size)
    block(it)
  }


  // ----- Body Text ------------------------
  body

}




#set document(title: [ {{ title }} ])



#show link: set text(fill: blue, weight: 500)
#show link: underline
//#show table.cell.where(y: 0): set text(weight: "bold")

// code blocks
// #let code-border = luma(0)
//#show raw.where(block: true): set text(size: 0.7em)



#set figure(numbering: "1")
#set figure.caption(separator: ": ") // With a nice separator
#set math.equation(numbering: "(1)", supplement: "Eq.")




{% if logo %} 
#let logo = {{ logo }}
{% elif logo_b64 %} 
#let logo_b64 = {{ nonedefault(logo_b64) }}
#let logo = image(base64.decode(logo_b64), width: 2cm) 
{% elif not hide_pydocmaker and logo_b64_pydocmaker %}
#let logo_b64 = {{ nonedefault(logo_b64_pydocmaker) }}
#let logo = image(base64.decode(logo_b64), width: 2cm) 
{% else %}
#let logo = none
{% endif %}

#show: it => basic-report(
  doc-category: {{ nonedefault(doc_category) }},
  doc-title: {{ nonedefault(title) }},
  author: {{ nonedefault(author) }},
  logo: logo,
  language: "en",
  it
)


#set heading(numbering: (..nums) => {
  // 1. Convert the arguments to a regular positional array
  let parts = nums.pos()
  
  // 2. If the first item is 0, slice it off 
  if parts.at(0, default: none) == 0 {
    parts = parts.slice(1)
  }
  
  // 3. Join the remaining numbers with dots and add a trailing period
  if parts.len() > 0 {
    parts.map(str).join(".") + "."
  }
})



